<div fxLayout="row" fxFlex>
  <div fxLayout="column" fxFlex="30">
    <mat-card fxFlex>
      <mat-card-header>
        <h5>Game details</h5>
      </mat-card-header>
      <mat-card-content>
          <ul>
            <li *ngFor="let highscore of highscores">
              {{highscore.score}} by {{highscore.nickname}} on {{highscore.date}}
            </li>
          </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column" fxFlex="70" >
    <mat-card fxFlex fxLayout="column">
      <mat-card-header>
        <h2>HighScores for {{selectedGame}}</h2>
      </mat-card-header>

      <mat-card-content fxFlex fxLayout="column">
        <mat-selection-list fxFlex class="scrollList"
                            #hiscores [(ngModel)]="highscoreSelected" (ngModelChange)="onNgModelChange($event)" [multiple]="false">
          <mat-list-option *ngFor="let highscore of highscores"
                           (click)="onNgModelChange(hiscores)" [value]="highscore.id">
          <mat-icon mat-list-icon>face</mat-icon>
          <div mat-line class="comment-text">Score: {{highscore.score}} Time:{{highscore.time}}</div>
          <div mat-line class="comment-sender-text" style="font-size: x-small">By {{highscore.nickname}}  on  {{highscore.date}}</div>
          <mat-divider></mat-divider>
            <mat-divider></mat-divider>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>

      <mat-card-actions>
        <div *ngIf="isLoggedIn">
          <mat-form-field class="primary-text-colour" fxFlex="40">
            <mat-label>Post a mock Highscore (number)</mat-label>
            <input matInput type="text" [formControl]="highscoreFC">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="postHighscore()">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div *ngIf="!isLoggedIn"
          class="warn-text-colour"
          style="font-family: cursive"
          style="font-size: 14px">
          You need to log in to post a mock highscore
        </div>
      </mat-card-actions>

      <mat-card-footer fxFlex="30px" style="padding-left: 30px">
        <!--<h5> storage = {{isLoggedIn}} nickname {{userNickname}}</h5>-->
        <div *ngIf="error$ | async as error"
             class="warn-text-colour"
             style="font-family: cursive"
             style="font-size: 14px">
          {{error}}
        </div>
        <!--<div *ngIf="!socketId"
             class="warn-text-colour"
             style="font-family: cursive"
             style="font-size: 14px">
          You are not connected
        </div>-->
      </mat-card-footer>
    </mat-card >

  </div>
</div>









